@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.clickable-row {
  cursor: pointer;
}

.title-box {
  padding-top: 5px;
  padding-bottom: 40px;

  .btn {
    margin-top: 13px;
  }
}

.list-group .fa, .btn .fa {
  margin-right: 5px;
}

#alert {
  width: 350px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 9000;
}

#invoice {
  margin-top: 50px;

  h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
  }
}