@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "partials/variables";
@import "partials/fonts";
@import "partials/navbar";
@import "partials/buttons";
@import "partials/header";

.posts {
    padding: 80px 0;
    .anchor {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 40px;
        height: 50px;
        width: auto;
    }
    h3 {
        margin-bottom: 30px;
        font-weight: bold;
    }
    p {
        font-size: 14pt;
        color: $text;
        padding: 0 18px 0 18px;
        margin-bottom: 35px;
    }
}

.no-padding {
  padding: 0;
}

.borderless {
  border: none;

  td {
    border-top: none !important;
  }
}

.content {
  padding-top: 30px;
}