@import "variables";

.btn-primary {
  background-color: $blue;
  border-color: $blue;

  &:hover {
    background-color: darken($blue, 5);
    border-color: darken($blue, 5);
  }

  &:focus, &:active:focus {
    background-color: darken($blue, 8);
    border-color: darken($blue, 8);
  }
}

.btn-signup {
  background-color: #fff;
  font-size: 14pt;
  color: $blue;
  border-radius: 5px;
  padding: 10px 20px 13px;
  margin-top: 135px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);

  &:hover {
    color: darken($blue, 10);
  }
}

@media (max-width: 767px) {
  .btn-signup {
    margin-top: 50px;
  }
}
