article {
    .article-title {
        margin: 0;
    }
    .article-time {
        margin-top: 4px;
        font-style: italic;
        color: lighten($text, 0.9);
    }
    p {
        font-size: 12pt;
        line-height: 1.8;
    }
    .description {
        font-size: 13pt;
    }
}
