.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #252525;

  .container {
    height: 100%;
    padding: 15px;

    h3 {
      font-weight: 300;
      color: $white;
      padding-bottom: 20px;
    }

    hr {
      margin-top: 10px;
      margin-bottom: 10px;
      border-color: $hr;
    }

    .copyright {
      color: $white;
    }
  }
}
