.navbar {
    margin: 0;
    height: 100px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 8px 0 rgba(50, 50, 50, 0.10);
    .nav {
        padding-top: 25px;
        a {
            font-size: 12pt;
            color: $text;
        }
    }
    .logo-img {
        width: 70px;
        height: auto;
    }
    .navbar-collapse {
        background-color: #FFFFFF;
    }
}

@media (max-width: 991px) {
    .navbar {
        height: 50px;
        .nav {
            padding-top: 0;
        }
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

@media (max-width: 768px) {
    .navbar {
        height: 50px;
        .nav {
            padding-top: 0;
        }
    }
}
