.navbar {
  margin: 0;
  height: 100px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 8px 0 rgba(50, 50, 50, 0.10);

  .nav {
    padding-top: 25px;

    a {
      font-size: 12pt;
      color: $text;
    }
  }

  .logo-img {
    width: 70px;
    height: 70px;
  }

  .navbar-collapse {
    background-color: #FFFFFF;
  }
}

@media (max-width: 767px) {
  .navbar {
    height: 50px;

    .nav {
        padding-top: 0;
    }
  }
}
